:root{
    /* PRIMERA PALETA
    --primary-color: #a8a8f8;
    --background-color: #040925;*/
    
    /* MODO CLARO 
    
    --primary-color: #1B263B;
    --background-color: #E0E1DD;*/

    /* MODO OSCURO
    */

    --primary-color: #778DA9;
    --background-color: #0D1B2A;
}

body{
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--background-color);
    background: linear-gradient(to bottom, var(--background-color) 80%, transparent 100%);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#menu-burguer{
    display: none;
}

footer{
    padding: 20px;
    margin: 0px;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a, h1 a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    padding: 20px;
}

nav a:hover{
    text-decoration: underline;
    color: var(--background-color);
    background: linear-gradient(to bottom, var(--primary-color) 80%, transparent 100%);
}

section{
    margin: 20px;
    padding: 20px 50px;
    scroll-margin-top: 80px;
}

#about img{
    max-width: 30%;
    height: auto;
    border-radius: 50%;
}

#about{   
    display: flex;
    gap: 20px;
    background-color: var(--primary-color);
    color:  var(--background-color);
    margin: 60px 0px 20px 0px;
    padding: 20px 70px;
}

#about > div{
    flex: 1;
}

#experience, #contact{
    background-color: var(--primary-color);
    color:  var(--background-color);
    margin: 0px;
    padding: 20px 70px;
}

.divFoto{
    display: inline-block;
}

.habilidades {
    display: flex;
    flex-wrap: wrap;       
    gap: 20px;
}

.habilidad {
    flex: 1 1 calc(33% - 20px);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 15px;         
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.habilidad-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 20px;
    justify-content: center;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.proyecto{
    flex: 1 1 calc(33% - 20px);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 15px;         
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.proyecto img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Contacto */
.contact-container{
    display: flex;
    justify-content: space-around
}

label{
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    color: var(--background-color);
    font-size: large;
    font-weight: bold;
}

input, textarea{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 3px solid var(--background-color);
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--primary-color);
}

button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: large;
    font-weight: bold;
    cursor: pointer;    
}

button:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 2px solid var(--background-color);
}

.social-links{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
    gap: 20px;
}

.contact-social a{
    color: var(--background-color);
    text-decoration: none;
}

.contact-social a:hover{
    text-decoration: underline;
}

@media (max-width: 1024px) {
    /* Cambios de ordenador */

    #menu-burguer{
        display: block;
    }

    #menu{
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: var(--background-color);
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .menu-movil1{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu-movil2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    section{
        margin: 6px;
        padding: 10px 6px;
        scroll-margin-top: 140px;
    }

    #about{   
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: var(--primary-color);
        color:  var(--background-color);
        margin: 100px 0px 20px 0px;
        padding: 10px 12px;
    }

    #experience, #contact{
        background-color: var(--primary-color);
        color:  var(--background-color);
        margin: 0px;
        padding: 10px 10px;
    }
    
    .habilidades {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}